html
  head
    link(rel='stylesheet' href='styles/index.css')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/manifest.json')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
    title Discord Relay
  body
    h1 Discord Relay
    p
      | This is a service that provides outgoing webhooks for 
      a(href='http://www.discordapp.com') Discord
      | , allowing for event driven bot integration.
    if user
      h2 Welcome #{user.username}
      p
        a(href='/logout') Logout
      h3 Manage Bots
      if bots.length > 0
        table
          tr
            th Token
            th Web Hook URL
            th Method
            th 
          each bot in bots
            tr
              td= bot.token
              td= bot.webhookUri
              td= bot.method
              td
                a(href=`/bot/remove?tokenId=${bot.tokenId}`) Remove
      form(action='/bot/add' method='POST')
        p
          | Check out the 
          a(href='/instructions.html') instructions 
          | for information on setting up your Discord bot.
        table
          tr
            td
              label(for='botTokenInput') Bot Token:
            td
              input(id='botTokenInput' type='text', name='botToken')
          tr
            td
              label(for='webhookUriInput') Web Hook URI:
            td
              input(id='webhookUriInput' type='text', name='webhookUri')
          tr
            td Method:
            td
              label(for='methodGet')  GET
              input(id='methodGet' checked type='radio' name='method' value='GET')
              label(for='methodPost') POST
              input(id='methodPost' type='radio' name='method' value='POST')
        p
          | Headers:
          table
            tr
             th Name
             th Value
            each headerNum in [1, 2, 3, 4, 5]
              tr
                td
                  input(type='text', name=`headerName${headerNum}`)
                td
                  input(type='text', name=`headerValue${headerNum}`)

        input(type='submit', value='Add Bot')
    else
      h2 Login With Discord
      a(href=`https://discordapp.com/api/oauth2/authorize?${oauthParams}`)
        img.discord_logo(src='https://discordapp.com/assets/94db9c3c1eba8a38a1fcf4f223294185.png')
    hr
    small
      a(href='https://github.com/jmoseley/discord-relay') Source is on Github


